@import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: "AvenirNextMForBBG-Bold";
  src: url("/fonts/AvenirNextMForBBG-Bold.woff") format("woff");
}

@font-face {
  font-family: "AvenirNextMForBBG-Heavy";
  src: url("/fonts/AvenirNextMForBBG-Heavy.woff") format("woff");
}

@font-face {
  font-family: "AvenirNextMForBBG-Medium";
  src: url("/fonts/AvenirNextMForBBG-Medium.woff") format("woff");
}

@font-face {
  font-family: "AvenirNextMForBBG-Regular";
  src: url("/fonts/AvenirNextMForBBG-Regular.woff") format("woff");
}
@font-face {
  font-family: "AvenirNextPForBBG-Bold";
  src: url("/fonts/AvenirNextMForBBG-Bold.woff") format("woff");
}

@font-face {
  font-family: "AvenirNextPForBBG-Heavy";
  src: url("/fonts/AvenirNextMForBBG-Heavy.woff") format("woff");
}

@font-face {
  font-family: "AvenirNextPForBBG-Medium";
  src: url("/fonts/AvenirNextMForBBG-Medium.woff") format("woff");
}

@font-face {
  font-family: "AvenirNextPForBBG-Regular";
  src: url("/fonts/AvenirNextMForBBG-Regular.woff") format("woff");
}

body{
	font-family: AvenirNextPForBBG-Medium;
	min-height: 100vh;
	display: flex;
  	flex-direction: column;

	.form-section, .response-section{
		display: none;
	}

	header{
		background-color:black;

		.logo{
			img{
				width: 250px;
			    padding: 20px;
			}
		}
	}

	footer{
		min-height: 50px;
    	margin-top: auto;

		p{
			font-family: AvenirNextPForBBG-Medium;
			font-size: 12px;
			font-weight: bold;
		}
	}

	.main-page-active{
	    width: 6px;
	    height: 6px;
	    background-color: #44c515;
	    border-radius: 5px;
	}

	.page{
		h2{
			font-family: AvenirNextPForBBG-Medium;
			font-weight: bold;
		}

		.code-box{
		    background-color: black;
		    color: white;
		    padding: 30px 60px;

		    @media screen and(max-width: 768px){
				padding: 20px;		    	
		    }
		    
		    h3{
		    	font-size: 1.2rem;
		    	font-family: AvenirNextPForBBG-Medium;
				font-weight: bold;
		    }

		    p{
		    	font-family: AvenirNextPForBBG-Medium;
				font-weight: bold;
		    	font-size: 0.8rem;
			    line-height: 1.2;
		    }

		    button{
	    	    background-color: rgb(13,157,219);
			    color: white;
			    border: 2px solid rgb(13,157,219);
			    border-radius: 0 5px 5px 0;
			    padding: 15px;
			    font-weight: bold;
			    outline: none;
			    font-size: 1.2rem;

			    @media screen and(max-width: 768px){
					padding: 5px;
			    }
		    }

		    input{
			    border: 2px solid rgb(13,157,219);
			    border-radius: 5px 0 0 5px;
			    padding: 15px;
			    font-weight: bold;
			    outline: none;
			    font-size: 1.2rem;
			    max-width: 85%;
		    }
		}

		img.product-image{
			max-width: 100%;
		}

		.form-title{
			h3{
			    font-family: AvenirNextPForBBG-Medium;
	    		font-weight: bold;
	    		font-size: 2.3rem;
			}
		}

		.lead-form{
			.form-row{
				.form-group{
					label{
						font-weight: bold;
					    margin-bottom: 0;
					    font-size: 0.8rem;
					}

					.form-control {
					    display: block;
					    width: 100%;
					    height: calc(1.5em + 0.75rem + 2px);
					    padding: 0.375rem 0.75rem;
					    font-size: 1rem;
					    font-weight: 400;
					    line-height: 1.5;
					    color: #495057;
					    background-color: #fff;
					    background-clip: padding-box;
					    border: 1px solid #0d9ddb;
					    border-radius: 0.25rem;
					    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
					}

					button{
						display: block;
					    width: 100%;
					    height: calc(1.5em + 0.75rem + 2px);
					    padding: 0.375rem 0.75rem;
					    font-size: 1rem;
					    font-weight: 400;
					    line-height: 1.5;
					    color: #fff;
					    background-color: #0d9ddb;
					    background-clip: padding-box;
					    border: 1px solid #0d9ddb;
					    border-radius: 0.25rem;
					    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
					    text-transform: uppercase;
					}
				}

			}
		}

		.response{
			p{
				font-size: 1.2rem;
				font-weight: bold;
			}
		}
	}
}

.pagina{

	.section{

		border-top: solid 1px #d2d6dc;
		margin-top: 30px;
		padding: 30px 15px;

		.section-title{
			h3{
				font-size: 18px;
			}

			p{
				font-size: 14px;
				color: #4b5563;
			}
		}

		.form-block{
			box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
			background-color: white;
			border-radius:5px;
			padding:30px;

			.form-group{

				img{
					margin-bottom: 30px;
				    border-radius: 4px;
				    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3) !important;
				    width: 100%;
				}

				label{
					font-size: 14px;

					span.invalid-slug{
						color: red;
						display: none;
					}
				}

				input, textarea, select{
				    border: solid 1px lightgrey;
				    padding: 5px;
				    border-radius: 5px;
				    outline: none;
				}

				input:hover, select:hover, input:focus, select:focus, textarea:hover, textarea:focus{
					// box-shadow: 0px 0px 10px -2px rgba(63,131,248,0.5);
					border: solid 1px #3f83f8;
				    -moz-transition: all .3s ease-in-out;
					-webkit-transition: all .3s ease-in-out;
					-o-transition: all .3s ease-in-out;
				}

				input.invalid{
					border: solid 1px red;
				}

				.half-input{
					input{
					}

					input.invalid{
						border: solid 1px red;
					}

					input:first-child{
						width: 40%;
						border-radius: 5px 0 0 5px;
						margin-right:0;
						background-color:#f3f3f3;
						border-right:none;
					}

					input:last-child{
						width: 60%;
						border-radius: 0 5px 5px 0;
						margin-left:0;
					}

				}

				a{
					cursor: pointer;
					font-weight: bold;
				    color: white;
				    background-color: #007bff;
				    text-align: center;
				    padding: 6px;
				    border-radius: 5px;
				}

				a:hover{
					text-decoration: none;
					opacity: 0.8;
				}
			}
		}

		.form-group{
			button.success{
			    background-color: #28a745;
			    padding: 8px 12px;
			    border-radius: 5px;
			    color: white;
			    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
			    outline: none;
			}
			
			a.danger, button.danger{
			    background-color: #f93c3c;
			    padding: 8px 12px;
			    border-radius: 5px;
			    color: white;
			    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
			    outline: none;
			}

			a.danger:hover{
				text-decoration: none;
			}
		}
	}

	.section:first-child{
		border-top: none;
		margin-top: 0;
	}

	.index-section{
		.list-stack{
			box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05) !important;
			background-color: white;
			border-radius:10px;
			// padding:30px;

			ul{
				border:solid 1px #e8e8e8;

				li{
					padding: 20px 30px;
				    line-height: 1;
				    border-top: 1px solid #e8e8e8;

					.product-title{
						margin: 0;
					}

					.subtitle-info{
					    color: #a2a2a2;
					    font-size: 12px;
					    margin: 0;
					}

					.subtitle-info-2{
					    @extend .subtitle-info;

					    font-size: 10.5px;
					}

					a{
						font-size: 13px;
					    font-weight: bold;
					}

					.status-active{
						font-size: 11px;
					    color: #23960e;
					    background-color: #b3efb3;
					    padding: 1px 7px;
					    border-radius: 25px;
					    text-transform: lowercase;
					    font-weight: bold;
					}
					.status-inactive{
						font-size: 11px;
					    color: #960e0e;
					    background-color: #efb3b3;
					    padding: 1px 7px;
					    border-radius: 25px;
					    text-transform: lowercase;
					    font-weight: bold;
					}
					.status-alert{
						font-size: 11px;
				        color: #ca951f;
    					background-color: #fff8b3;
					    padding: 1px 7px;
					    border-radius: 25px;
					    text-transform: lowercase;
					    font-weight: bold;
					}
				}

				li:first-child{
					color: #a7a7a7;
					border-top: 0;
				    background-color: #f5f5f5;
				    border-radius: 10px 10px 0 0;
				    font-weight: bold;
				    font-size: 15px;
				    text-align: left;
				}
			}
		}
	}
}

.modal-codes{
	.modal-dialog{
		max-width: 600px;

		.modal-content{
			border-radius: 8px;
		    border: 0;

		    .modal-header{
		    	h3{
		    		font-size: 18px;
		    		font-weight: bold;
		    	}
		    }

			.modal-body{
				table{
					width: 100%;

					tbody{
						tr{
							td{
								.valid-code{
								    font-family: monospace;
								    color: #23960e;
				    				background-color: #b3efb3;
								    border-radius: 5px;
								    padding:2px 4px;
								}

								.invalid-code{
								    font-family: monospace;
							        color: #960e0e;
								    background-color: #efb3b3;
								    border-radius: 5px;
								    padding:2px 4px;
								}

								img{
									width: 15px;
								}

							}
						}
					}
				}
			}

			.modal-footer{
				a{
					cursor: pointer;
				    font-weight: bold;
				    color: white;
				    background-color: #007bff;
				    text-align: center;
				    padding: 6px;
				    border-radius: 5px;
				}

				a:hover{
					opacity: 0.8;
					text-decoration: none;
				}
			}
		}
	}
}

.content-body{
	padding: 20px;

	table{
		width: 100%;

		thead{

			th{
				padding-bottom: 10px;
			}
		}

		tbody{
			border-bottom: solid 1px lightgrey;
			border-top: solid 1px lightgrey;

			tr{
				td{
					font-size: 15px;
					padding: 15px 0;
					line-height: 1;

					.info-2nd{
						opacity: 0.6;
						font-size: 12px;
					}
				}

			}
			tr:first-child{
				td{
					padding-top: 40px;
				}
			}
			
			tr:last-child{
				td{
					padding-bottom: 40px;
				}
			}
		}
	}
}